.card {
  width: 18rem;
}

img {
  border-radius: 8px;
}

body {
  background: url(./images/bg02.jpg);
}

.mb-5{
  margin-bottom: 1rem!important;
}

h1 {
  color: white;
  text-shadow: 1px 1px 4px #000000;
}

h3 {
  font-size: 1.4rem;
}

span {
  font-size: 15px !important;
}

.card-body {
  padding: 0.3rem !important;
}

.col-md-6 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent !important;
  border-bottom: 2px solid #e0a800 !important;
  border-radius: 0;
  color: #eee;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  
}

.fo{
  margin-top: 15rem!important;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

::placeholder{
  color: #eee;
}